.mail-app{
    color:black;
}

.email-preview.unread {
    font-weight: 700;
}

.compose-mail{
    background-color: white;
    z-index: 6;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;
}

.compose-mail .header{
background-color:dodgerblue;
}

.btn-trash{
    height: 50px;
    width: 20px;
    text-decoration: none;
    color: blueviolet;
    border: 0;
  
}

.btn-env{
    border: 0;
}

.inbox{
    color:green;
}

.star {
   color: gold; 
}

.trash{
    
    color:indigo;
    text-decoration: none;
    border: 0;
}

.plane{
    color:red;
}

.plus{
    color:sandybrown;
}

.star{
    fill:yellow;
}

