/* Pages */

@import './pages/EmailApp.css';
/* Cmps */

@import './EmailPreview.css';
/* cmps */

.sidebar {
    /* background-color: rgb(181, 229, 241); */
    margin: 0;
    padding-left: 2rem;
    padding-top: 1rem;
    width: 150px;
    position: fixed;
    height: 40%;
    overflow: auto;
    border-right: 1px solid rgb(182, 181, 181);
}

.sidebar>* {
    margin-bottom: 0.5rem;
}

.compose-btn {
    width: 90%;
    height: 2rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    background-color: whitesmoke;
    box-shadow: 0px 2px 3px rgba(206, 204, 204, 0.7);
    border: 1px solid silver;
    text-decoration: none;
}
.compose-btn:hover{
    font-weight: bold;
   background-color: #ccc;
}
.btn-back{
    width: 15%;
    height: 2rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    background-color: whitesmoke;
    box-shadow: 0px 2px 3px rgba(206, 204, 204, 0.7);
    border: 1px solid silver;

}
.btn-back:hover{
    font-weight: bold;
    background-color: #ccc;

}

.content {
    background-color: whitesmoke;
    margin-left: 150px;
    padding: 1px 16px;
    height: 1000px;
}

.compose-mail {
    display: flex;
    flex-direction: column;
}
.filter{
    margin-left: 25px;
    margin-top: 15px;
    width: 15%;
    height: 2rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    background-color: whitesmoke;
    box-shadow: 0px 2px 3px rgba(206, 204, 204, 0.7);
    border: 1px solid silver;
    
    outline: none;

}
.filter:hover{
    font-weight: bold;
    background-color: #ccc;

}

.inbox1:hover{
    font-weight: bold;
    background-color: #ccc;
}
.star1:hover{
    font-weight: bold;
    background-color: #ccc;
}
.trash1:hover{
    font-weight: bold;
    background-color: #ccc;
}

.untrash{
    color:olive;
    border:0;
}