.note-details {
    width: 90%;
    /* background-color: violet; */
}

.note-details .note {
    width: 100%;
}

.note-controls button {
    background-color: transparent;
    border: none;
    color: rgb(95, 6, 146);
    padding: 0.75rem 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.set-color {
    background-color: transparent;
    border: none;
    color: rgb(95, 6, 146);
    padding: 0.75rem 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.display-none {
    display: none;
    visibility: none;
}