/* app-header */

.app-header {
    margin: 0 auto;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content:space-evenly; */
    background-image: linear-gradient(to right, rgb(100, 7, 143), rgb(238, 212, 94));
    color: whitesmoke;
}

.app-header h1 {
    margin-left: 1rem;
    font-size: 2rem;
}

.app-header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* flex-grow: 1; */
    margin-right: 10px;
    padding: 0 10px 0 10px;
    width: 40%;
}


.app-header li {
    margin-left: 10px;
}

.app-header .active {
    font-weight: bold;
}

.app-header a:hover {
    color: rgb(100, 7, 143);
}

@media (min-width: 850px) {
    .app-header {
        justify-content: space-evenly;
        /* margin-bottom: 20px; */
    }

    
}