
/* cmps */
/* Header */
@import './AppHeader.css';

/* EmailApp */
@import '../../apps/Email/assets/css/email-main.css';

/* KeepApp */
@import '../../apps/Keep/assets/css/keep-main.css';


* {
    box-sizing: border-box;
}

/* Base */

html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    height: 100%;
}

body {
    background-color: whitesmoke;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin: 0 auto;
    width: 100vw;
}


.clean-list {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* main {
    display: flex;
    flex-grow: 1;
    flex: 1 0 auto;
} */

/* Components */



/* Home */

.main-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.home {

    margin: 0;
    padding: 40px;
    /* background-color: #fff; */
    /* background-image: url(../img/library3.jpg);
    background-color: rgb(174, 196, 192); */
    background-blend-mode: overlay;
    background-size: contain;
    width: 100%;
    /* height: 85vh; */
    /* height: 100%; */
    text-align: center;
    color: rgb(4, 45, 78);;
}

.home h1 {
    margin-top: 0;
}

.home p {
    width: 50%;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: center;
    /* text-align: center; */
    line-height: 60px;
    height: 60px;
    background-image: linear-gradient(to right, rgb(100, 7, 143), rgb(238, 212, 94));
    color: whitesmoke;
    justify-self: auto;
    margin-top: auto;
    /* flex-shrink: 0; */
}

.about {
    margin: 0;
    padding: 40px;
    /* background-image: url(../img/books1.jpg); */
    /* background-color: rgb(178, 224, 219); */
    background-blend-mode: screen;
    background-size: contain;
    width: 100%;
    /* height: 100vh; */
    text-align: center;
    color: rgb(2, 67, 88);
}

.about p {
    width: 50%;
    margin: 0 auto;
}

